<!DOCTYPE html>
<html lang="he">
<head>
<meta charset="UTF-8">
<title>שלב 2</title>

<style>
body{
    font-family:Rubik;
    background:#0f172a;
    color:white;
    direction:rtl;
}

.card{
    max-width:500px;
    margin:70px auto;
    background:white;
    color:#111;
    padding:30px;
    border-radius:18px;
}

select,button{
    width:100%;
    padding:12px;
    margin:8px 0;
    border-radius:10px;
}
</style>
</head>

<body>

<div class="card">

<h2>שאלות נוספות</h2>

<form method="POST" action="/step3">

<input type="hidden" name="name" value="{{ data.name }}">
<input type="hidden" name="phone" value="{{ data.phone }}">
<input type="hidden" name="email" value="{{ data.email }}">
<input type="hidden" name="age" value="{{ data.age }}">
<input type="hidden" name="interest" value="{{ data.interest }}">

<select name="credit_card">
<option>כן</option><option>לא</option>
</select>

<select name="restrictions">
<option>כן</option><option>לא</option>
</select>

<select name="property">
<option>כן</option><option>לא</option>
</select>

<select name="status">
<option>רווק</option>
<option>נשוי</option>
<option>גרוש</option>
</select>

<button>המשך</button>

</form>

</div>

</body>
</html>
